<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- ************************************************ -->
        <!-- COLOCAR BARRA "\" NO FINAL DO CAMINHO DAS PASTAS -->
        <!-- ************************************************ -->
        <add key="Endereco_API" value="https://www.receitaws.com.br/v1/cnpj/"/>
        <add key="Diretorio_In" value=".\In\" />
        <add key="Diretorio_Out" value=".\Out\" />
        <add key="Diretorio_In_log" value=".\In_log\" />
        <add key="Diretorio_Out_log" value=".\Out_Log\" />
        <add key="Diretorio_Erro_Tentativas" value=".\Erro\Tentativas\" />
        <add key="Diretorio_Erro_XML" value=".\Erro\XML Errado\" />
        <add key="Tentativas_Falha" value="3" />
        <add key="Tempo_espera_segs" value="21" />

        <!-- ******************************* -->
        <!-- CONFIGURAÇÕES DO ENVIO DE EMAIL -->
        <!-- ******************************* -->
        <add key="Login" value="" />
        <add key="Password" value="" />
        <add key="SMTP" value="" />
        <add key="Port" value="" />
        <add key="EnableSsl" value="true" />
        <add key="Para" value="" />
         
    </appSettings>
</configuration>